*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0.5em;
  width: 800px;
  height: 600px;
  background-color: #fff;
  color: rgb(22, 20, 20);
  line-height: 1.4;
  font-size: 20px;
}

.btn{
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: lightblue;
  color: darkblue;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
}
.delete{
  background-color: red;
  color: white;
}
.btn-container{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

input{
  font-weight: 700;
  padding: 0.5em;
  font-size: 1rem;
  border: 2px solid lightblue;
  color: darkblue;
  width: 100%;
  margin-bottom: 5px;
}

ul{
  list-style: none;
  padding: 0;
}

